.footer{
    margin-top: 35px;
    background-color: white;
}

.footer .footer-top{
    display: flex;
   
   

}

.footer .footer-info{
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 28px;
    row-gap: 15px;

}


.footer .site-copyright{
    font-size: 16px;
    opacity: 0.8;
    margin: 15px 0px;
   
     
}

@media(max-width: 768px){
    .footer .footer-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    
    }

    .footer .site-copyright{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
         
    }
    .footer .footer-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    
    }


}
