.voice{
    margin-top: 30px;
    margin-bottom: 50px;
    
}
/*! Section */
.voice .header-left .logo{
    margin: 0px 40px;
    
}

.section-title{
    text-align: center;
    
    margin-bottom: 10px;
}

.section-title h2{
    font-size: 38px;
    font-weight: 600;
}

.section-title p{
    font-size: 22px;
    opacity: 0.8;
    margin-bottom: 75px; 
}

.section-title p button{
    background-color:yellow;
    color: black;
    border-color: #1367ef;
    font-size: 22px;
    font-weight: 400; 
    display: inline-block;
}
.section-title p button:hover{
   
    background-color:darkviolet;
    color: white;
}

.voice .clicksayac{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;

}

/*! section bitiş */
.voice .voice-list{
    gap: 30px;
    

}

.voice .voice-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.voice .voice-item{
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    
   

}


.voice .voice-item img{

   width: 100%;
   
}



.voice-item .voice-info{
    margin-top: 10px;
}





/*? Responsive */
@media( max-width: 992px){
    .voice .voice-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media( max-width: 596px){
    .voice .voice-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
} 









